/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#define QWERTY 3

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        bindings = <    
   &kp TAB      &kp Q   &kp W   &kp F   &kp P   &kp B                                           &kp J   &kp L   &kp U           &kp Y           &kp SEMI   	&kp ESC
   &kp LCTRL    &kp A   &kp R   &kp S   &kp T   &kp G                                           &kp M   &kp N   &kp E           &kp I           &kp O	  	&kp SQT
   &kp LGUI     &kp Z   &kp X   &kp C   &kp D   &kp V                                           &kp K   &kp H   &kp COMMA       &kp DOT         &kp FSLH 	&kp END
                             &kp LSHFT &mo 2 &kp SPACE                                          &kp BSPC &lt 1 RET &kp RALT
                        >;
                };

                lower_layer {
                        bindings = <
   &kp ESC      &kp N1          &kp N2       &kp N3       &kp N4       &kp N5                   &kp N6   &kp N7   &kp N8 &kp N9    &kp N0 &trans
   &bt BT_CLR   &bt BT_SEL 0    &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4             &kp LEFT &kp DOWN &kp UP &kp RIGHT &trans &trans
   &trans       &trans          &trans       &trans       &trans       &trans                   &trans   &trans   &trans &trans    &trans &kp HOME
                                        &trans          &trans       &trans                     &trans          &trans          &trans
                        >;
                };

                raise_layer {
                        bindings = <
   &kp  ESC  &kp EXCL  &kp AT  &kp HASH  &kp DLLR  &kp PRCNT                                    &kp CARET &kp AMPS  &kp KP_MULTIPLY &kp LPAR &kp RPAR  &trans
   &kp LCTRL &trans    &trans  &trans    &trans    &kp MINUS                                    &kp EQUAL &kp LBKT  &kp RBKT        &kp PIPE &kp GRAVE &trans
   &kp LSHFT &trans    &trans  &trans    &trans    &trans                                       &trans    &trans    &trans          &trans   &kp BSLH  &kp TILDE
                                   &kp LGUI &trans &kp SPACE                                    &kp DEL   &to QWERTY &to default_layers
                        >;
                };

                QWERTY {
                        bindings = <
   &kp TAB      &kp Q           &kp W        &kp E        &kp R        &kp T                    &kp Y    &kp U    &kp I         &kp O     &kp P    &kp ESC
   &kp LCTRL    &kp A           &kp S        &kp D        &kp F        &kp G                    &kp H    &kp J    &kp K         &kp L     &kp SQT  &kp SEMI
   &kp LGUI     &kp Z           &kp X        &kp C        &kp V        &kp B                    &kp N    &kp M    &kp COMMA     &kp DOT   &kp FSLH &kp END
                                        &kp LSHIFT        &mo 2        &kp SPACE                &kp BSPC        &lt 1 RET          &kp RALT
                        >;
                };
        };
};
